---
import Main from  "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
const profilePicture = "https://github.com/Ly900/Funny-Cat-Memory-Game/blob/master/assets/images/lilly.jpg?raw=true";
---

<Main title="Lilly Nguyen">
	
	<div class="profile">
		<img width="300px" src={profilePicture} class="profile__picture" />

		<div class="profile__details">
			<h1>Lilly Nguyen</h1>
			<h2>16-year old Senior Cat</h2>
			<p>A sweet and cuddly, but full of attitude, short-hair tabby cat who lives with her owner (and servant), Ly Nguyen.</p>
			<p>Hello</p>
		</div>
	</div>

	<Cards cards={[
		{
			title: "Physical Traits",
			gradientFrom: "#f50057",
			gradientTo: "#fff8fb",
			to: "/physical-traits"
		},
		{
			title: "Favorite Foods",
			gradientFrom: "#ea80fc",
			gradientTo: "#fff8fb",
			to: "/favorite-foods"
		},
		{
			title: "Hobbies",
			gradientFrom: "#ff910d",
			gradientTo: "yellow",
			to: "/hobbies"
		},
	]}/>

</Main>

<style>

	.profile {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;
	}

	.profile__details {
		flex: 1 0 300px;
	}

	.profile__details > h1 {
		margin-top: 0;
	}

	.profile__picture {
		border-radius: 50%;
		margin: 0 2rem 1rem 0;
	}

</style>