---
import Main from  "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
import { UpvoteContent } from "../components/UpvoteContent.jsx";
const profilePicture = "/lilly-astrojs/images/lilly-on-harness_11zon.jpg";
---

<Main title="Lilly Nguyen">
	
	<div class="profile">
		<img width="250px" height="250px" src={profilePicture} class="profile__picture" alt="Lilly"/>

		<div class="profile__details">
			<h1>Lilly Nguyen</h1>
			<h2>16-year old Senior Cat</h2>
			<p>A sweet and cuddly, but full of attitude, short-hair tabby cat who lives with her owner (and servant), Ly Nguyen.</p>
		</div>
	</div>

	<Cards cards={[
		{
			title: "Physical Traits",
			gradientFrom: "#f50057",
			gradientTo: "#fff8fb",
			to: "/lilly-astrojs/physical-traits/"
		},
		{
			title: "Favorite Foods",
			gradientFrom: "#ea80fc",
			gradientTo: "#fff8fb",
			to: "/lilly-astrojs/favorite-foods/"
		},
		{
			title: "Hobbies",
			gradientFrom: "#ff910d",
			gradientTo: "yellow",
			to: "/lilly-astrojs/hobbies/"
		},
	]}/>

	<div class="vote__container">
		<div class="vote__container-inner">
			<div class="vote__box vote__box-1">
				<p class="vote">Do you like Lilly? If so, give her a thumbs up!</p>
			</div>
			<div class="vote__box vote__box-2">
				<UpvoteContent />
			</div>
		</div>
	</div>


</Main>

<style>

	.profile {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;
	}

	.profile__details {
		flex: 1 0 300px;
	}

	.profile__details > h1 {
		margin-top: 0;
	}

	.profile__picture {
		border-radius: 50%;
		margin: 0 2rem 1rem 0;
	}

	.vote__container {
        --radius: 10px;
        background-image: linear-gradient(to right, orchid, cyan);
        padding: 4px;
        border-radius: var(--radius);
        text-decoration: none;
        transition: all .2s ease-in-out;
	}

	.vote__container-inner {
        background: var(--background);
        padding: 1.5rem;
        border-radius: var(--radius);
        color: var(--grey-200);
        font-size: 1.2rem;
        transition: .2s all ease-in-out;
		@media screen and (min-width: 475px) {
			display: grid;
		grid-template-columns: 1fr 2fr;
			grid-column-gap: 1em;
		}
	}

	.vote__box {
		/* background: yellow; */
		/* padding: 1em; */
	}

	.vote {
        color: var(--grey-200);
        font-size: 1.2rem;
		margin-bottom: 1.5em;
		/* text-align: center; */
	}

</style>