---
import ThemeToggler from './ThemeToggler.astro';
---

<nav>
    <ul class="nav__unordered-list">
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/physical-traits">Physical Traits</a>
        </li>

        <li>
            <a href="/favorite-foods">Favorite Foods</a>
        </li>

        <li>
            <a href="/hobbies">Hobbies</a>
        </li>
    </ul>


    <ThemeToggler />
</nav>

<style>

    nav {
        display: flex;
        align-items: flex-start;
        padding: 2rem 0;
    }

    .nav__unordered-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 0 0;
    }

    .nav__unordered-list li {
        opacity: 0.8;
        list-style: none;
        font-size: .95rem;
    }

    a {
        color: var(--grey-400);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        text-decoration: none;
    }

    a:hover {
        color: var(--grey-900);
    }

    a.active {
        background: #ffd9d9;
        color: var(--grey-900);
    }

    html.dark a.active {
        /* background: #ffd9d9;
        color: black; */
        background: #ff537b;
        color: white;
        font-weight: 600;
    }

</style>

<script>
    const { pathname } = window.location;
    const activeNavigationElement = document.querySelector(`nav a[href="${pathname}"]`);
    activeNavigationElement.classList.add('active');
</script>