---
import ThemeToggler from './ThemeToggler.astro';
---

<nav>
    <ul class="nav__unordered-list">
        <li>
            <a href="/lilly-astrojs/">Home</a>
        </li>

        <li>
            <a href="/lilly-astrojs/physical-traits/">Physical Traits</a>
        </li>

        <li>
            <a href="/lilly-astrojs/favorite-foods/">Favorite Foods</a>
        </li>

        <li>
            <a href="/lilly-astrojs/hobbies/">Hobbies</a>
        </li>
    </ul>


    <ThemeToggler />
</nav>

<style>

    nav {
        display: flex;
        align-items: flex-start;
        padding: 2rem 0;
    }

    .nav__unordered-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 0 0;
    }

    .nav__unordered-list li {
        opacity: 0.8;
        list-style: none;
        font-size: .95rem;
        margin-top: .5em;
    }

    a {
        color: var(--grey-400);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        text-decoration: none;
        font-size: 1.2rem;
    }

    a:hover {
        color: var(--grey-900);
    }

    a.active {
        background: #ffd9d9;
        color: var(--grey-900);
    }

    html.dark a.active {
        background: #ff194f;
        color: #fff;
        font-weight: 600;
    }

    html.dark a {
        text-shadow: 1px 1px 1px black;
    }

</style>

<script>
    const { pathname } = window.location;
    // console.log('pathname: ', pathname);
    const activeNavigationElement = document.querySelector(`nav a[href="${pathname}"]`);
    // console.log('activeNavigationElement: ', activeNavigationElement);
    activeNavigationElement?.classList.add('active');
</script>